<?xml version="1.0"?>
<robot name="tulpar_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://tulpar_description/meshes/sasi_simple.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.2 1.03 0.51"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="25.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1.5" ixy="0.0" ixz="0.0" iyy="2.0" iyz="0.0" izz="2.5"/>
    </inertial>
  </link>
</robot>